body{
    overflow-x: hidden;
}

.navbar-nav .nav-link {
    color: $blue-main;
}

#main-forum {
    float: right;
    width: calc(100% - 250px);
}

#sidebar-forum{
    list-style: none;
    padding-top: 25px;
}

#sidebar-forum .nav-link {
    font-size: 15px;
}

.h-60px{
    height: 60px;
}

.fs-12px{
    font-size: 12px;
}

.avatar-sm{
    height: 25px;
}

.text-grey{
    color: grey;
}