.bg-blue-main{
    background-color: $blue-main;
}

.btn-register{
    background-color: $blue-main;
    border-radius: 50px;
    &:hover{
        background-color: black;
    }
}

.text-blue{
    color: $blue-main;
}

.h-80px{
    height: 80px;
}

.navbar-nav{
    margin-left: auto;
    .nav-link.active{
        font-weight: bold;
    }
}

pre {
    padding: 12px;
    font-size: 14px;
    background-color: #fafbfd;
    border: 1px solid #eaecf0;
    border-radius: 6px;
    color: #69747f;
}

.card-tags .tag-card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    transition: transform 0.2s ease-in-out;
}

.card-tags .tag-card:hover {
    transform: scale(1.05);
    background-color: #f8f9fa;
}

.dropdown-item.read {
    background-color: #f8f9fa;
    color: #515456;
}


.read .text-truncate,
.read .text-gray-900,
.read .text-gray-500 {
    color: #d3d3d3; 
    font-weight: normal; 
}

.read .notification-image {
    opacity: 0.5;
}

.read .status-indicator {
    background-color: #d3d3d3;
}

