.bg-blue-main{
    background-color: $blue-main;
}

.btn-register{
    background-color: $blue-main;
    border-radius: 50px;
    &:hover{
        background-color: black;
    }
}

.text-blue{
    color: $blue-main;
}

.h-80px{
    height: 80px;
}

.navbar-nav{
    margin-left: auto;
    .nav-link.active{
        font-weight: bold;
    }
}

pre {
    padding: 12px;
    font-size: 14px;
    background-color: #fafbfd;
    border: 1px solid #eaecf0;
    border-radius: 6px;
    color: #69747f;
}